
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPeticionLabel">Nueva Peticion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.peticion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.peticion.id" readonly />
        </div>-->
        <div class="form-group">
            <h4 class="control-label" for="field_numero_peticion">Numero de Peticion</h4>
            <input type="text" class="form-control" name="numero_peticion" id="field_numero_peticion"
                    ng-model="vm.peticion.numero_peticion"
                    required ng-maxlength="32"/>
            <div ng-show="editForm.numero_peticion.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero_peticion.$error.required">
                    Campo Obligatorio.
                </p>
                <p class="help-block"
                    ng-show="editForm.numero_peticion.$error.maxlength">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
          </div>
            <div class="form-group">
                <h4 class="control-label" for="field_peticionarios">Peticionario</h4>
                <label for="field_peticionarios">Se denomina</label>
                <select class="form-control" id="field_peticionarios" name="peticionarios" ng-model="vm.peticion.peticionarios" ng-options="peticionario as peticionario.nombre for peticionario in vm.peticionarios track by peticionario.id" required>
                </select>
            <div ng-show="editForm.peticionarios.$invalid">
                <p class="help-block"
                    ng-show="editForm.peticionarios.$error.required">
                </p>
            </div>
          </div>
            <div class="form-group">
                <label class="control-label" for="field_direccion">Direccion</label>
                <textarea rows="2"cols="80"class="form-control"name="direccion" id="field_direccion"
                        ng-model="vm.peticion.direccion"
                        required ng-maxlength="200"></textarea>
                <div ng-show="editForm.direccion.$invalid">
                    <p class="help-block"
                        ng-show="editForm.direccion.$error.required">
                        Campos Obligatorios.
                    </p>
                    <p class="help-block"
                        ng-show="editForm.direccion.$error.maxlength">
                        This field cannot be longer than 200 characters.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <h4 class="" for="">Solicitante</h4>
                <label class="control-label"for="field_solicitante">Nombre Solicitante</label>
                <input type="text" class="form-control" name="solicitante" id="field_solicitante"
                        ng-model="vm.peticion.solicitante"
                        required ng-maxlength="65"/>
                <div ng-show="editForm.solicitante.$invalid">
                    <p class="help-block"
                        ng-show="editForm.solicitante.$error.required">
                        Campo Obligatorio.
                    </p>
                    <p class="help-block"
                        ng-show="editForm.solicitante.$error.maxlength">
                        This field cannot be longer than 65 characters.
                    </p>
                </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_cargo_solicitante">Cargo Solicitante</label>
                    <input type="text" class="form-control" name="cargo_solicitante" id="field_cargo_solicitante"
                            ng-model="vm.peticion.cargo_solicitante"
                            required ng-maxlength="40"/>
                    <div ng-show="editForm.cargo_solicitante.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cargo_solicitante.$error.required">
                            Campo Obligatorio.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.cargo_solicitante.$error.maxlength">
                            This field cannot be longer than 40 characters.
                        </p>
                    </div>
                </div>
        <div class="form-group">
            <h4 class="control-label" for="field_fecha">Fecha</h4>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" uib-datepicker-popup="{{dateformat}}" ng-model="vm.peticion.fecha" is-open="vm.datePickerOpenStatus.fecha"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fecha.$invalid">
                <p class="help-block"
                    ng-show="editForm.fecha.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>
        <div class="form-group">
            <h4 class="control-label" for="field_acto_certificar">Acto a Certificar</h4>
            <textarea rows="5" cols="80"class="form-control" name="acto_certificar" id="field_acto_certificar"
                    ng-model="vm.peticion.acto_certificar"
                    required></textarea>
            <div ng-show="editForm.acto_certificar.$invalid">
                <p class="help-block"
                    ng-show="editForm.acto_certificar.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>
            <h4 class="" for="">Responsable</h4>
            <div class="form-group">
                <label class="control-label" for="field_responsables">Autoridad</label>
                <select class="form-control" id="field_responsables" name="responsables" ng-model="vm.peticion.responsables" ng-options="responsable as responsable.tipo for responsable in vm.responsables track by responsable.id" required>
                </select>
            <div ng-show="editForm.responsables.$invalid">
                <p class="help-block"
                    ng-show="editForm.responsables.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="field_responsable"> Nombre Responsable</label>
            <input type="text" class="form-control" name="responsable" id="field_responsable"
                    ng-model="vm.peticion.responsable"
                    required ng-maxlength="60"/>
            <div ng-show="editForm.responsable.$invalid">
                <p class="help-block"
                    ng-show="editForm.responsable.$error.required">
                    Campo Obligatorio.
                </p>
                <p class="help-block"
                    ng-show="editForm.responsable.$error.maxlength">
                    This field cannot be longer than 60 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <h4 class="control-label" for="field_oficio">Oficio</h4>
            <input type="text" class="form-control" name="oficio" id="field_oficio"
                    ng-model="vm.peticion.oficio"
                    />

        </div>
      </div>

        <!--<div class="form-group">
            <label class="control-label" for="field_tipo_evaluacion">Tipo Evaluacion</label>
            <input type="number" class="form-control" name="tipo_evaluacion" id="field_tipo_evaluacion"
                    ng-model="vm.peticion.tipo_evaluacion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numero_acta">Numero Acta</label>
            <input type="text" class="form-control" name="numero_acta" id="field_numero_acta"
                    ng-model="vm.peticion.numero_acta"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_acta">Acta</label>
            <input type="text" class="form-control" name="acta" id="field_acta"
                    ng-model="vm.peticion.acta"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_acuerdo">Acuerdo</label>
            <input type="text" class="form-control" name="acuerdo" id="field_acuerdo"
                    ng-model="vm.peticion.acuerdo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cedula">Cedula</label>
            <input type="text" class="form-control" name="cedula" id="field_cedula"
                    ng-model="vm.peticion.cedula"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descripcion_anexo">Descripcion Anexo</label>
            <input type="text" class="form-control" name="descripcion_anexo" id="field_descripcion_anexo"
                    ng-model="vm.peticion.descripcion_anexo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_link_anexo">Link Anexo</label>
            <input type="text" class="form-control" name="link_anexo" id="field_link_anexo"
                    ng-model="vm.peticion.link_anexo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_completada">Completada</label>
                <input type="checkbox" name="completada" id="field_completada"
                          ng-model="vm.peticion.completada"/>
        </div>-->



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
